/*Topbar*/
$topbarBgLeftColor:#1c4652;
$topbarBgRightColor:#3d7b8a;
$topbarLogoColor:#ffffff;
$topbarProfileTextColor:#ffffff;
$topbarQuickMenuIconColor1:#f4f4f4;
$topbarQuickMenuIconColor2:#f4f4f4;
$topbarQuickMenuIconColor3:#f4f4f4;
$topbarQuickMenuIconColor4:#f4f4f4;
$topbarQuickMenuButtonTextColor:#ffffff;
$quickMenuTooltipBgColor:#212121;
$quickMenuTooltipTextColor:#c8c8c8;
$topbarSearchInputTextColor:#ffffff;
$topbarSearchInputBorderColor:#f4f4f4;
$topbarSearchInputBorderFocusColor:#ffffff;
$topbarSearchInputIconColor:#ffffff;
$topbarRightPanelIconColor:#f4f4f4;
$topbarIconHoverBgColor:rgba(244,244,244,.24);
$topbarSidebarButtonColor:#f4f4f4;

/* Topbar Profile */
$profileMenuBgColor:#eaeaea;
$profileMenuItemTextColor:#333333;
$profileMenuItemIconColor:#a6a6a6;
$profileMenuItemHoverBgColor:#d0d0d0;
$profileMenuItemHoverIconColor:#333333;
$profileMenuItemHoverTextColor:#333333;
$profileMenuItemActiveBgColor:#9ac3d0;
$profileMenuItemActiveTextColor:#1d4753;
$profileMenuItemActiveIconColor:#1d4753;

/*Sidebar*/
$sidebarBgColor:#eaeaea;
$sidebarDividerColor:#d0d0d0;

$sidebarMenuItemTextColor:#333333;
$sidebarMenuItemIconColor:#a6a6a6;
$sidebarMenuItemHoverBgColor:#d0d0d0;
$sidebarMenuItemHoverIconColor:#333333;
$sidebarMenuItemHoverTextColor:#333333;
$sidebarMenuItemActiveBgColor:#9ac3d0;
$sidebarMenuItemActiveTextColor:#1d4753;
$sidebarMenuItemActiveIconColor:#1d4753;

$sidebarSubmenuBgColor:#eaeaea;
$sidebarSubmenuItemTextColor:#333333;
$sidebarSubmenuItemIconColor:#a6a6a6;
$sidebarSubmenuItemHoverBgColor:#d0d0d0;
$sidebarSubmenuItemHoverTextColor:#333333;
$sidebarSubmenuItemHoverIconColor:#333333;
$sidebarSubmenuItemActiveBgColor:#eaeaea;
$sidebarSubmenuItemActiveTextColor:#1d4753;
$sidebarSubmenuItemActiveIconColor:#1d4753;

$slimMenuTooltipBgColor:#212121;
$slimMenuTooltipTextColor:#ffffff;

//mask
$maskBgColor: #212121;

/*Footer*/
$footerBgColor:#212121;
$footerTextColor:#ffffff;
$footerIconColor:#ffffff;

@import '../../sass/layout/_layout';